@model IEnumerable<EntityFrameWork2.MatHang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhaSanXuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonViTinh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhaSanXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonViTinh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHang }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHang })
        </td>
    </tr>
}

</table>
